# R and python project info
.Rproj.user
.Rhistory
.RData
.spyproject/

# R libraries on Yeti
Rlib/

# user-specific info
.Rprofile
.Renviron
.Ruserdata
.httr-oauth
lib/cfg/user_settings.yml

# some build info
.remake
*tasks.yml

# data and temporary files
*.nc
*.rds
*.feather
*.fst
*.html
*/tmp/
1_format/in/tmp/
*.npy
*checkpoint*
2_model/src/__pycache__/
2_model/src/mille/
