# R and python project info
.Rproj.user
.Rhistory
.RData
.spyproject/

# user-specific info
.Ruserdata
.httr-oauth
lib/cfg/user_settings.yml

# some build info
.remake
*tasks.yml

# data and temporary files
*.nc
*.rds
*.feather
*.fst
*.html
*/tmp/
1_format/in/tmp/
