.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth

# some build info
.remake
build/status/MV9mb3JtYXQvdG1wL25oZF*
*tasks.yml

# data and temporary files
*.nc
*.rds
*.feather
*.html
*/tmp/
1_format/in/tmp/
